* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  /* height: 100vh; */
  background-color: rgb(49, 49, 49);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 90%;
  /* height: 100vh; */
  padding: 10px;
  background-Color: rgba(27, 26, 26, 0.729);
  
}
nav{
    padding: 10px;
    color: aliceblue;
    border-radius: 50px;
    display: flex;
    background-color: rgba(38, 38, 40, 0.862);
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
#nevigate{
    display: flex;
    gap: 20px;
}


@keyframes shadow {
    from{
        box-shadow: 0 0 20px yellow;
    }
    To{
        box-shadow: 0 0 50px gold;
    }
    
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box{
    height: 50vh;
    width: 60vw;
    margin:  48px 0;
    border :3px solid rgb(241, 192, 32);
    border-radius: 15px;
   
    animation: shadow 5s forwards;
}
#box img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
#hero{
    color: white;
    text-align: center;

}
#hero span{
    color: rgb(243, 194, 48);
}
#hero h2{
    color:rgb(255, 242, 0);
}
#text h1{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#text h2{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#text p{
    /* width: 100%; */
    line-height: 30px;
    white-space: normal;
}
#tech{
    margin-top: 130px;
    text-align: center;
}

 #tech h6{
    color: yellow;
}
h3{
    color: white;
}
h3 span{
    color: yellow;
}
#skills #buttons{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    #btnn1{
    padding: 8px 15px;
    border-radius: 30px;
    border: 2px solid gold;
    background-color: yellow;
    }
    #btnn2{
    padding: 8px 15px;
    color: white;
    border-radius: 35px;
    border: 2px solid gold;
    background-color:rgba(0, 0, 0, 0.445);
    }
    #btnn3{
    padding: 8px 15px;
    color: white;
    border-radius: 40px;
    border: 2px solid gold;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.447);
    }
}


#btn1{
    border: 2px solid gold;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: yellow;
}
#btn2{
    border: 2px solid gold;
    color: gold;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.593);
}
#Technologies{
    display: grid;
    padding: 10px;
    
    grid-gap: 20px;
    margin-top: 10px;
    background: linear-gradient(to right,rgba(41, 36, 36, 0.418),rgba(165, 165, 31, 0.714));
    grid-template-columns: 200px ,200px;
    grid-template-rows: 300px, 300px;
    grid-template-areas: "card1 card2"
                          "card3 card4";
                          h6{
                            color: aliceblue;
                          }
}
#card1{
    padding: 40px;
    grid-area: card1;
    border-radius: 30px;
    background-color: rgb(72, 72, 16);
    
}
#card2{
    padding: 40px;
    grid-area: card2;
    border-radius: 30px;
    background-color: rgb(72, 72, 16);
}
#card3{
    padding: 40px;
    grid-area: card3;
    border-radius: 30px;
    background-color: rgb(72, 72, 16);
}
#card4{
    padding: 40px;
    grid-area: card4;
    border-radius: 30px;
    background-color: rgb(72, 72, 16);
}
#textt{
    margin-top: 130px;
    text-align: center;
    p{
        color: yellow;
    }
    h3 span{
        color: yellow;
    }
}
@media(min-width:768px){
    body{
        display: block;
    }
    #card{
        width: 90vw;
        max-width: 1600px;
        margin: auto;
        padding: 40px;
    }
    #hero{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: left;
        gap: 80px;
        
    }
    #box{
        width: 40vw;
        height: 50vh;
    }
    #box img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #text h1{
        font-size: clamp(32px,4vw,70px);
        h2{
            font-size: clamp(24px,3vw,50px);
        }
        p{
            font-size: clamp(14px,1.2px,22px);
        }
    }
    #Technologies{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 200px;
        grid-template-areas: "card1 card2 card3 card4";
    }
    
}
/*# sourceMappingURL=style.css.map */